mat-form-field {
    width: 100%;
}

.actions {
    button {
        margin-right: 8px;
    }
}

h3 {
    margin: 40px 0 12px;
}

ul {
    margin: 0;
    padding: 0;
    // list-style: none;

    a {
        position: relative;
        top: 8px;
        font-size: 18px;
    }
}